/* _functions.scss */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v13/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v13/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(http://fonts.gstatic.com/s/roboto/v13/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v13/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local("Quicksand Light"), local("Quicksand-Light"), url(http://fonts.gstatic.com/s/quicksand/v5/qhfoJiLu10kFjChCCTvGlHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url(http://fonts.gstatic.com/s/quicksand/v5/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

/*
* Respond To
* Copied from UtilityBelt- https://github.com/dmtintner/UtilityBelt
*
* Example:
* @include respondTo(smartphone){ display: none; }
*
*/
/* line 9, scss/index.scss */
BODY {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  margin: 0;
  padding: 0;
}
@media (min-width: 1274px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 100%;
  }
}
@media (min-width: 1940px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 105%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 85%;
  }
}
@media (max-width: 1274px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 95%;
  }
}
@media (max-width: 1640px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 90%;
  }
}
@media (max-width: 600px) {
  /* line 9, scss/index.scss */
  BODY {
    font-size: 85%;
  }
}

/* line 26, scss/index.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 30, scss/index.scss */
A {
  color: inherit;
}

/* line 35, scss/index.scss */
H1, H2, H3, H4, H5, H6 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* line 43, scss/index.scss */
H1 {
  font-size: 2.8em;
  line-height: 1em;
  letter-spacing: 4px;
}

/* line 44, scss/index.scss */
H2 {
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 4px;
}

/* line 45, scss/index.scss */
H3 {
  font-size: 2.0em;
  line-height: 1em;
  letter-spacing: 3px;
}

/* line 46, scss/index.scss */
H4 {
  font-size: 1.8em;
  line-height: 1em;
  letter-spacing: 3px;
}

/* line 47, scss/index.scss */
H5 {
  font-size: 1.3em;
  line-height: 1em;
  letter-spacing: 2px;
}

/* line 48, scss/index.scss */
H6 {
  font-size: 1.0em;
  line-height: 1em;
  letter-spacing: 0px;
  display: inline-block;
}

/* line 50, scss/index.scss */
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* IE Mac/Win fixes below */
/* line 59, scss/index.scss */
.clear-fix {
  display: inline-block;
  /* For IE/Mac */
}

/* Hides from IE/Mac \*/
/* line 63, scss/index.scss */
* html .clear-fix {
  height: 1%;
}

/* line 64, scss/index.scss */
.clear-fix {
  display: block;
}

/* End hide from IE/Mac */
/* line 67, scss/index.scss */
.float-right {
  float: right;
}

/* line 71, scss/index.scss */
.float-left {
  float: left;
}

/* line 75, scss/index.scss */
.aligncenter {
  text-align: center;
}

/* line 79, scss/index.scss */
.alignright {
  text-align: right;
}

/* line 83, scss/index.scss */
.alignleft {
  text-align: left;
}

/* line 87, scss/index.scss */
#map {
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
}
